.contentContainer {
    max-width: 1120px;
    margin: 0 auto;
    padding: 0 2rem;
    height: calc(100vh - 7rem);

    display: flex;
    align-items: center;
    justify-content: space-between;

    img{
        width: 30vw;
        max-width: 600px;
        opacity: .7;
    }

    @media (max-width: 768px) {
        
        img {
            min-width: 300px;
        }
    }

    @media (max-width: 425px) {
        padding-top: 36px;
        flex-direction: column;
        justify-content: normal;
        align-items: center;

        img {
            margin-top: 10px;
            min-width: 220px;
            order: -1;
        }
    }

    @media (max-width: 375px) {
        justify-content: center;
        align-items: center;
        height: calc(100vh - 10rem);
        border: 1px solid blue;

        font-size: 0.75;


        img {
            // margin-top: 100px;
            // min-width: 200px;
            // order: -1;
            display: none;
        }
    }
}

.hero {
    max-width: 600px;
    color: var(--gray-100);
    

    > span {
        font-size: 1.5rem;
        font-weight: bold;
    }

    h1 {
        font-size: 4.5rem;
        line-height: 4.5rem;
        font-weight: 900;
        margin-top: 2.5rem;

        span {
            color: var(--green-500);
        }
    }

    p {
        font-size: 1.5rem;
        line-height: 2.25rem;
        margin-top: 1.5rem;

        > span {
            color: var(--green-500);
            font-weight: bold;
        }
    }

    button {
        margin-top: 2.5rem;
        width: 80%;
        font-size: 1.5rem;
        
    }
}