.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;

    
    margin-top: 20px;
    // padding: 10px;
    margin-bottom: 20px;
    text-align: center;

    a {
        color: var(--green-500)
    }

    @media(max-width: 325px) {
        padding-left: 26px;
    }

}