.container {
  margin-top: 25px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;

  .label {
    display: flex;
    font-size: 1.3rem;
  }

  input {
    margin-top: 8px;
    width: 80%;
    height: 35px;
    outline: none;
    border: none;
    border-radius: 8px;
    font-size: 1rem;
    // padding: 10px;
    background-color: rgba(255, 255, 255, 0.8);
    background-position: 10px 10px;
    background-repeat: no-repeat;
    padding-left: 20px;
    transition: 0.6s ease;
    
    &:focus {
      background-color: rgba(255, 255, 255, 1);
      border: none;
    }
  }

  button {
    height: 3rem;
    border-radius: 3rem;
    background: var(--green-500);
    border: 0;
    padding: 0 1.5rem;

    display: flex;
    align-items: center;
    justify-content: center;

    color: var(--white);
    font-weight: bold;

    transition: ease .5s;

    &:hover {
      filter: brightness(0.7);
    }
  }


  .paragraph {
    font-size: 20px;
    margin-top: -8px;
    margin-bottom: 25px;
  }

  .clipboard {
    border: 1px solid var(--gray-300);
  
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    color: var(--white);
    background-color: var(--gray-800);
  
    border-radius: 8px;
  
    height: 5vh;
  
    margin: 0 0 300px 0;
    
    padding: 0;
    max-width: 100%;
    // padding: 8px;
    margin-bottom: 25px;
  
    p {
      color: var(--gray-300);
      display: flex;
      justify-content: space-evenly;
      margin: 0;
      font-size: .85rem;
    }
  
    svg {
      cursor: pointer;
      transition: ease .6s;
      color: var(--gray-100);
      
      &:hover {
        color: var(--gray-300);
      }
    }

    @media (max-width: 375px) {
      // margin-left: -15px;
      width: 100%;
      padding: 10px;
      p {
        padding-right: 6px;
        font-size: .7rem;
        }
    }  
  
   
  }
}

form {
  .errorMessage {
    margin-top: -5px;
    font-size: 1rem;
    color: rgb(255, 75, 75);
  }
  
}



.album {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;

}

.songs {
  // list-style: none;
  display: flex;
  align-items: center;
  margin-right: 1px;

 
}

.generatebutton {
    height: 3rem;
    border-radius: 3rem;
    background: var(--green-500);
    border: 0;
    padding: 0 1.5rem;

    display: flex;
    align-items: center;
    justify-content: center;

    color: var(--white);
    font-weight: bold;

    transition: ease .5s;
    font-size: 16px;

  &:hover {
    filter: brightness(0.7);
  }

  @media (max-width: 329px) {
    font-size: .1rem;
    font-weight: normal;

  }
 
}

.albumTable {
  display: flex;
  width: 320px;
  font-size: 1.5rem;
  margin-bottom: 10px;
}



.table, .row, .trackTd {
  width: 100%;

  @media (max-width: 375px) {
    width: 60%;
  }
}



.trackTd {
  border-top: 1px solid var(--gray-800);
  width: 100%;
}

.toggleTd {
  border-top: 1px solid var(--gray-800);
  padding: 0.2em;
  width: 10%;
}


.tables {
  margin-top: 30px;
  margin-left: -50px;
  display: flex;
  gap: 30px;

  @media (max-width: 730px) {
    flex-direction: column;

    margin-left: 10px;
  }

  @media (max-width: 425px) {
    flex-direction: column;

    margin-left: auto;
  }
}
